<form #comentarioForm="ngForm" (ngSubmit)="save()">
	<div class="col-xl-12">
        <div class="row">
        <div class="container">
          <textarea type="text" [(ngModel)]= "comentario.texto" name="texto" style="height: 100px;width: 850px;margin: 5px;
          font-size: 150%">
          </textarea>
            </div>
            <button class="btn" type="submit" style="background-color: rgb(208,61,61);height: 50px;font-size: 20px;margin: 15px;">Enviar comentario</button>

    </div>
    </div>
</form>
