
<!--<div *ngFor="let idea of ideas">
	<div class="row">
        <div class="col offset-lg-2 offset-xl-3"><img class="rounded-circle" src="https://cdn.pixabay.com/photo/2017/01/10/23/01/icon-1970474_960_720.png" style="width: 150px;height: 150px;margin: 15px;"></div>
     </div>
     <div class="row">
           <div class="col">
                <p style="font-size: 20px;margin: 10px;"><strong>Idea 1</strong><br><strong>{{idea.titulo}}</strong><br></p>
                <p style="margin: 10px;height: 100px;">{{idea.descripcion}}<br><br></p>
 			<p style="margin: 10px;">Votos &nbsp; &nbsp; <strong>{{idea.numeroVotos}}</strong> &nbsp; &nbsp; Comentarios &nbsp; &nbsp;<strong>4</strong></p>
        </div>
     </div>
</div>-->

  <div class="row">
                <div class="col-lg-2 offset-lg-1 offset-xl-1"><select class="border rounded" style="height: 40px;margin: 15px;background-color: rgb(255,255,255);width: 200px;font-size: 15px;"><optgroup label="Elige una opción"><option value="12">Ordenar por publicación</option><option value="13">Ordenar por comentarios</option><option value="14">Ordenar por votos</option></optgroup></select></div>
                <div
                    class="col-lg-6 offset-lg-0" style="width: 700px;"><input type="text" style="width: 570px;margin: 15px;height: 40px;"></div>
            <div class="col-lg-1 offset-lg-0" style="padding: 0px;"><button class="btn" type="button" style="height: 40px;margin: 15px;padding: 0px;width: 120px;color: rgb(255,255,255);background-color: rgb(208,61,61);font-size: 15px;">Buscar</button></div>
        </div>
<div class="row">
<div class="col-lg-4 col-xl-3">
        <div class="row">
            <div class="col-xl-6 offset-lg-3 offset-xl-3">
                <input type="image" src="https://cdn.pixabay.com/photo/2017/01/10/23/01/icon-1970474_960_720.png" style="width: 150px;height: 150px;margin: 15px;padding: 0px;"></div>
            </div>
        <div class="row">
            <div class="col-lg-6 col-xl-8 offset-lg-3">
                <button class="btn" type="button" href="//localhost:8080/ideas-add">Agregar idea</button>
                <a [routerLink] = "['/ideas-add']" ><strong>Pincha aqui</strong></a>
                        <!--<p style="font-size: 20px;margin: 10px;"><strong>&nbsp; &nbsp; &nbsp;Agregar idea</strong></p>-->
            </div>
        </div>
</div>
<div class="col offset-xl-0">
<div *ngFor="let idea of ideas">
    <div class="row">
        <div class="col offset-lg-2 offset-xl-3">
    <img class="rounded-circle" src="https://www.elheraldo.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=X9yDlWz1wLpx6HSTNa7Wps$daE2N3K4ZzOUsqbU5sYuQpVQO601SOZrZowQkxuyU6FB40xiOfUoExWL3M40tfzssyZqpeG_J0TFo7ZhRaDiHC9oxmioMlYVJD0A$3RbIiibgT65kY_CSDiCiUzvHvODrHApbd6ry6YGl5GGOZrs-&CONTENTTYPE=image/jpeg" style="width: 150px;height: 150px;margin: 15px;"></div>
     </div>
     <div class="row">
           <div class="col">
                <p style="font-size: 20px;margin: 10px;"><strong>Idea 1</strong><br><strong>{{idea.titulo}}</strong><br></p>
                <p style="margin: 10px;height: 100px;">{{idea.descripcion}}<br><br></p>
            <p style="margin: 10px;">Votos &nbsp; &nbsp; <strong>{{idea.numeroVotos}}</strong> &nbsp; &nbsp; Comentarios &nbsp; &nbsp;<strong>4</strong></p>
        </div>
    </div>
</div>
</div>
</div>

<!-- idea.getNumeroComentarios-->
<!--<div *ngFor="let idea of ideas">
	<div class="row">
        <div class="col offset-lg-2 offset-xl-3"><img class="rounded-circle" src="https://www.elheraldo.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=X9yDlWz1wLpx6HSTNa7Wps$daE2N3K4ZzOUsqbU5sYuQpVQO601SOZrZowQkxuyU6FB40xiOfUoExWL3M40tfzssyZqpeG_J0TFo7ZhRaDiHC9oxmioMlYVJD0A$3RbIiibgT65kY_CSDiCiUzvHvODrHApbd6ry6YGl5GGOZrs-&CONTENTTYPE=image/jpeg" style="width: 150px;height: 150px;margin: 15px;"></div>
     </div>
     <div class="row">
           <div class="col">
                <p style="font-size: 20px;margin: 10px;"><strong>Idea 1</strong><br><strong>{{idea.titulo}}</strong><br></p>
                <p style="margin: 10px;height: 100px;">{{idea.descripcion}}<br><br></p>
 			<p style="margin: 10px;">Votos &nbsp; &nbsp; <strong>{{idea.numeroVotos}}</strong> &nbsp; &nbsp; Comentarios &nbsp; &nbsp;<strong>4</strong></p>
        </div>
     </div>
</div>-->

