#botonAgregarIdea {
    width: 110%;
    height: 90%;
    margin: 15% 12% -35% 34%;
    padding: 0px;   
}

#dropDownOrdenar {
    height: 55%;
    margin: 7.5% 0% 10% 4%;
    background-color: rgb(255,255,255);
    width: 100%;
    font-size: 150%;

}

#inputText {
    width: 95%;
    margin: 2.2% -7% 5% -1%;
    height: 57%;
}


#buscarButton {
    height: 59%;
    margin: 12% 10% 10% -30%;
    padding: 0px;
    width: 100%;
    color: rgb(255,255,255);
    background-color: rgb(208,61,61);
    font-size: 150%;

}

#fotoPerfil{
    width: 21%;
    height: 788%;
    margin: -23.6% 10% -47% 20%;
}


#ideaTitle{
    font-size: 130%;
    margin: 1% 0% 1% 0%;
    
}

#ideaDescription{
    margin: 0%;
    height: 56%;
    overflow: hidden;
    width: 40%;
    font-size: 144%;
    border: 1px solid black;
    border-radius: 5px;
    word-break: inherit;

}

#votesAndNumberComments{
    margin: 1% 0% 1% 0%;
    font-size: 130%;
}

#addIdeaText{
    font-size: 156%;
    margin: 11% 10% 9% 39%;
}