<form #ideaForm="ngForm" (ngSubmit)="save()">
<div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="display-4 text-center"><strong>Crea tu idea</strong></h2>
                </div>
                <div class="col-md-12">
                    <div class="row" style="width: 1000px;">
                        <div class="col" style="width: 100px;padding: 0px;">
                            <p class="text-left">&nbsp; &nbsp; &nbsp; &nbsp;Título Idea</p>
                        </div>
                        <div class="col" style="width: 2000px;font-size: 15px;">
                            <input type="text" [(ngModel)]="idea.titulo"  name="titulo" style="width: 700px;height: 40px;">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row" style="width: 1000px;">
                        <div class="col" style="width: 100px;padding: 0px;">
                            <p class="text-left">&nbsp; &nbsp; &nbsp; &nbsp;Descripción Idea</p>
                        </div>
                        <div class="col" style="width: 2000px;font-size: 15px;">
                            <input type="text" [(ngModel)]="idea.descripcion"  name="descripcion" style="width: 700px;height: 300px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-3 offset-xl-0" style="width: 10px;">
                	<button class="btn" type="button">Adjuntar imagen o grafico</button></div>
                <div class="col-xl-7"></div>
            <div class="col-md-6 col-xl-1 offset-xl-0" style="width: 1000px;">
            	<button class="btn" type="submit">Subir idea </button></div>
        </div>
    </div>
</div>
</form>

