<div class="row" style="margin: 50px;width: 1100px;">
                <div class="col" style="width: 250px;">
                    <div class="row" style="width: 320px;">
                        <div class="col" style="width: 300px;"><img class="border rounded-circle" src="/assets/img/fotoPerfil1.png" id="usuarioImagen"></div>
                    </div>
                    <div class="row" style="width: 300px;">
                        <div class="col">
                            <p style="font-size: 20px;"><strong>Carlos Díaz </strong><br><em>Director general</em></p>
                        </div>
                        <div class="col" style="width: 300px;">
                            <p id="datos">Ideas publicadas<br><strong>4</strong>
                            	<br>Ideas formalizadas<br><strong>2</strong>
                            	<br>Votosobtenidos<br><strong>3</strong>
                            	<br>Comentarios realizados<br><strong>20</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col" style="width: 1200px;">
                    <p class="text-center" id="ideaTitulo"><strong>{{idea.titulo}}</strong></p>
                    <p class="text-justify" id="ideaDescripcion"><br>{{idea.descripcion}}<br></p>
                    <img src="assets/img/c957b99e-083e-4443-afc6-c372ea43ed08.png" style="width: 300px;margin: 30px;">
                    <img src="assets/img/6a7ed9f8-205a-4766-94b7-27c5e06bc89c.png" style="width: 300px;height: 183px;margin: 30px;">
                </div>
                <div class="col-xl-9 offset-xl-0" style="width: 400px;">
                    <p style="width: 1000px;font-size: 20px;"><strong>Comentarios (2) </strong>
                    	<button class="btn btn-primary" type="button" style="background-color: rgb(208,61,61);font-size: 20px;">Elegir idea</button>
                    	<strong>+6</strong>personas han votado</p>
                </div>
                <div class="col-xl-1 offset-xl-2">
                	<button class="btn btn-primary" type="button" style="font-size: 20px;width: 65px;height: 44px;background-image: url(assets/img/126473.png&quot;);background-color: rgb(208,61,61);">
                		<img src="assets/img/126473.png" style="width: 40px;height: 35px;padding: 2px;"></button>
                </div>
                <div class="col-xl-2 offset-xl-0" style="width: 100px;">
                	<img class="border rounded-circle" src="assets/img/foto2.png" style="width: 140px;height: 140px;margin: 5px;">
                </div>
            <div class="col-xl-9">
                <p style="font-size: 23px;margin: 10px;width: 600px;"><strong>Maria Teresa </strong><em>Ejecutiva de ventas</em></p>
                <p style="font-size: 15px;margin: 10px;">Estos días, algunos de los Másters en los que imparto clases de Marketing Digital están llegando a su fin y los alumnos deben presentar sus proyectos de final de Máster. Estos proyectos pueden ser en forma de investigación, en forma de
                    Plan de Marketing o en forma de Plan de Negocio. La mayor parte de mis alumnos eligen ésta última opción.<br></p>
            </div>
            <div class="col-xl-1 offset-xl-0">
            	<img src="assets/img/x-icon-white-20.jpg" style="width: 20px;height: 20px;margin: 10px;">
            	<img src="assets/img/Edit_icon_(the_Noun_Project_30184).svg.png" style="width: 30px;height: 30px;margin: 5px;">
            </div>
            <div class="col-xl-2 offset-xl-0" style="width: 100px;">
            	<img class="border rounded-circle" src="assets/img/Businessman-Images-HD-copy-1-480x400.png" style="width: 140px;height: 140px;margin: 5px;">
            </div>
            <div class="col-xl-9">
                <p style="font-size: 23px;margin: 10px;width: 600px;"><strong>Pablo Sanhueza </strong>Director de marketing</p>
                <p style="font-size: 15px;margin: 10px;">Estos días, algunos de los Másters en los que imparto clases de Marketing Digital están llegando a su fin y los alumnos deben presentar sus proyectos de final de Máster. Estos proyectos pueden ser en forma de investigación, en forma de
                    Plan de Marketing o en forma de Plan de Negocio. La mayor parte de mis alumnos eligen ésta última opción.<br></p>
            </div>
            <div class="col-xl-1">
            	<img src="assets/img/x-icon-white-20.jpg" style="width: 20px;height: 20px;margin: 10px;">
            	<img src="assets/img/Edit_icon_(the_Noun_Project_30184).svg.png" style="width: 30px;height: 30px;margin: 5px;">
            </div>
            <div class="col-xl-12">
            	<button class="btn btn-primary" type="button" style="background-color: rgb(208,61,61);height: 50px;font-size: 20px;margin: 15px;">Enviar comentario</button>
            	<input type="text" style="height: 100px;width: 850px;margin: 5px;">
            </div>
        </div>