
<div class="row">
         
        <div class="col-lg-2 offset-lg-1 offset-xl-1">
                
            </div>
            <div class="col-lg-6 offset-lg-0" style="width: 700px;">
                
                <input id="inputText" [(ngModel)]="titulo"/></div>

            <div class="col-lg-1 offset-lg-0" style="padding: 0px;">
                <button (click)="getIdeaByTitulo()" class="btn" type="button" id="buscarButton">Buscar</button></div>
    
    </div>
<div class="row">
    <div class="col-lg-4 col-xl-3">
        <div class="row">
            <div class="col-xl-6 offset-lg-3 offset-xl-3">
                <a [routerLink] = "['/idearetos-add/'+id]" > 
                <input type="image" id="botonAgregarIdea" src="/assets/img/addIdeaIcon.png" href="//localhost:8080/idearetos-add"></a> 
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6 col-xl-8 offset-lg-3">
                <p id="addIdeaText" > <strong>Agregar Idea </strong>  </p>    
            </div>
        </div>

</div>
<div class="col offset-xl-0">
<div *ngFor="let idea of ideas">
    <div class="row">
        <div class="col offset-lg-2 offset-xl-3">
    <img class="w3-card-4" src="/assets/img/fotoPerfil1.png" id="fotoPerfil">
        </div>
     </div>
     <div class="row">
           <div class="col">
                <p id="ideaTitle"><br><strong>{{idea.titulo}}</strong><br></p>
                <p id="ideaDescription">{{idea.descripcion}}<br><br></p>
            <p id="votesAndNumberComments">Votos &nbsp; &nbsp; <strong>{{idea.numeroVotos}}</strong> &nbsp; &nbsp; Comentarios &nbsp; &nbsp;<strong>{{idea.numeroComentarios}}
                <a [routerLink] = "['/idea-show', idea.id]" ><button class="btn" type="button" id="botonVerIdea"></button></a>
            </strong></p>
        </div>
    </div>
</div>
</div>
