<body>
 <div class="header-blue" style="background-color: rgb(255,255,255);margin: 50;height: 750px;">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search" style="background-color: rgb(208,61,61);height: 90px;">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" style="color: rgb(255,255,255);font-size: 30px">Alaya</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#" style="color: rgb(255,255,255);font-size: 15px">Ideas</a></li>
                            <li><a href="#" style="color: rgb(255,255,255);font-size: 15px">Retos</a></li>
                        </ul>
                        <form class="form-inline mr-auto" target="_self">
                            <div class="form-group"><label for="search-field"></label></div>
                        </form><span class="navbar-text"> <a href="#" class="login" style="font-size: 15px;">
                        <br>Bienvenido/a&nbsp;<strong>Carlos Díaz</strong><br><br></a></span><a class="btn btn-light action-button" role="button" href="#" style="background-color: rgb(255,255,255);color: rgb(0,0,0);margin: 5px;font-size: 15px">Perfil</a>
                        <a class="btn btn-light action-button" role="button" href="#" style="background-color: rgb(255,255,255);color: rgb(0,0,0);margin: 5px;background-size: 20px;font-size: 15px">Cerrar sesión<br></a>
                    </div>
                </div>
            </nav>
            <router-outlet></router-outlet>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>





