#botonAgregarIdea {
    width: 150px;
    height: 150px;
    margin: -3% 6% 5% 41%;
    padding: 0px;   
}

#dropDownOrdenar {
    height: 40px;
    margin: 15px;
    background-color: rgb(255,255,255);
    width: 200px;
    font-size: 15px;

}

#inputText {
    width: 95%;
    margin: 2.2% -7% 5% -1%;
    height: 57%;
    font-size: 150%;
}


#buscarButton {
    height: 40px;
    margin: 15px 15px 15px -40px;
    padding: 0px;
    width: 120px;
    color: rgb(255,255,255);
    background-color: rgb(208,61,61);
    font-size: 15px;

}

#fotoPerfil{
    width: 150px;
    height: 150px;
    margin: 15px 15px -216px 124px;
}


#retoTitle{
    font-size: 26px;
    margin: 10px;
    

}

#retoDescription{
    margin: 10px;
    height: 100px;
    overflow: hidden;
    width: 380px;
    font-size: 14px;

}

#numeroIdeas{
    margin: 10px;
    font-size: 13px;
}

#fechaPublicacion{
    margin: 10px;
    font-size: 13px;
}

#tiempo{
    margin: 10px;
    font-size: 13px;
}

#tema{
    margin: 10px;
    font-size: 13px;
}

#addRetoText{
    font-size: 156%;
    margin: 11% 10% 9% 39%;
}

#btn{
    background-color: rgb(208,61,61);
    color: white;
    font-size: 150%;
}

#botonVerIdea{
    background-color: rgb(208,61,61);
    background-image: url("/assets/img/view.png");
    padding: 3px;
    width: 32px;
    height: 32px;
}